*{
font-size: 22px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
vertical-align: baseline;
box-sizing: border-box;
}

body {
    background-color: #222;
    color:#ddd;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



h1{
    font-size: 40px;
    color:cornflowerblue;   
}

button {
    background-color: #333;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color:#fff;
    color:#333
}

.blog{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 674px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}

.hr-blue{
    color: cornflowerblue;
}

.header-dark{
    background:#333;
     color:white;
    padding:5px;
    text-align: right;
}

.footer-dark{
    background:#333;
    color:white;
    padding:5px;
}

.thumbnail { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    } 

    .blog-container{
        display: inline;

    }

    .thumbnail:hover { 
    transform: scale(1.5); 
}