*{
font-size: 22px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
}

body {
    background-color: #222;
    color:#ddd;
    text-align: center;
}

header{
    padding: 20px;
    text-align: right;
    background: #333;
    color: white;
    font-size: 25px;
}

h1{
    font-size: 40px;
    color:cornflowerblue;   
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #eee;
    background-color: #333;
    cursor: pointer;
    
}

button:hover{
    background-color:#fff;
    color:#333
}

.header-dark{
    background:#333;
     color:white;
    padding:5px;
}